<div class="window" id="accounts-manager">
  <h1>Home</h1>
  <ul id="menu">
    <li>
      <a href="#accounts">Accounts</a>
    </li>
    <li>
      <a href="#operations">Operations</a>
    </li>
  </ul>
</div>