<div class="window" id="home" style="display: none;">
  <h1>Home</h1>
  <ul id="menu">
    <li>
      <a href="#accounts">Accounts</a>
    </li>
    <li>
      <a href="#transactions">Transactions</a>
    </li>
  </ul>
</div>