<div class="transaction">
  <div class="item">
    <span class="transaction-comment"><span class="transaction-amount">{{transactionSumCents}}</span> from {{accountFrom.name}} to {{accountTo.name}} ({{comment}})</span>
  </div>
</div>