html {
  background: #eeeeee;
}

body {
  font-family: Aller, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  color: black;
}

body h1 {
  font-size: 36px;
  line-height: 1;
  padding: 50px 0px 10px;
  text-align: center;
}

body .window {
  width: 700px;
  margin: 0 auto 40px auto;
}

#spinner {
  display: none;
  position:absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  background-image:url('../images/spinner.gif');
  background-repeat: no-repeat;
}

li {
  border-bottom: 1px solid #CCC;
  padding: 10px;
  font-size: 20px;
  position: relative;
}

li div.edit {
  display: none;
}

li.editing div.edit {
  display: block;
}

li div.item {
  display: block;
}

li.editing div.item {
  display: none;
}

.destroy {
  float: right;
  color: gray;
  cursor: hand;
  cursor: pointer;
}

.destroy:hover {
  color: red;
}

span.action-link {
  font-size: 14px;
  text-decoration: underline;
  cursor: hand;
  cursor: pointer;
}

span.account-balance {
  float: right;
  padding-right: 20px;
}

span.positive-amount {
  color: green;
}

span.negative-amount {
  color: red;
}

span.zero-amount {
  color: gray;
}