<!DOCTYPE html>
<html>
<head>
  <title>HA</title>
  <%= include_stylesheets :common, :accounts, :media => 'all' %>
  <%= include_javascripts :workspace %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="spinner"></div>
  <ul id="menu">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#accounts">Accounts</a>
    </li>
    <li>
      <a href="#operations">Operations</a>
    </li>
  </ul>
  <div id="active-window">
    <%= yield %>
  </div>
</body>
</html>