<!DOCTYPE html>
<html>
<head>
  <title>HA</title>
  <%= include_stylesheets :common, :accounts, :media => 'all' %>
  <%= include_javascripts :workspace %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="spinner"></div>
  <%= yield %>
</body>
</html>