<!DOCTYPE html>
<html>
<head>
  <title>HA</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "underscore", "json2", "mustache", "backbone" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
