<!DOCTYPE html>
<html>
<head>
  <title>HA</title>
  <%= include_stylesheets :common, :media => 'all' %>
  <%= include_javascripts :workspace %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="spinner"></div>
  <div id="active-window">
    <%= yield %>
  </div>
</body>
</html>